--extra-index-url https://download.pytorch.org/whl/cu121

torch
torchvision
timm
albumentations
pandas
pillow
opencv-python
scikit-learn
scikit-image
scipy
tqdm
kaggle
matplotlib
segmentation-models-pytorch

git+https://github.com/facebookresearch/segment-anything.git
